<mat-toolbar>
  Destiny 2 Reward Checker
  by Mijago
</mat-toolbar>


<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid" >
    <div class="guardianSearch" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">
      <mat-card>
        <mat-card-title>
          Guardian Search
        </mat-card-title>
        <mat-card-subtitle>
          You can search for a guardian here. The tool will then show which of the items are unlocked in the collection.
          Note that the API only sees an emblem as unlocked <b>when you pulled it out of the collection at least once</b>.
        </mat-card-subtitle>
        <mat-card-content>
          <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Guardian Tag</mat-label>
            <input matInput type="text" placeholder="Guardian#1234" [formControl]="guardianSearchFormControl">
            <button *ngIf="guardianSearchFormControl.value != ''" matSuffix mat-icon-button aria-label="Clear"
                    (click)="guardianSearchFormControl.reset()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <mat-chip-list>
            <mat-chip *ngFor="let user of users" (click)="filterCollectibles(user.membershipType, user.membershipId)"
                      [class.selected]="user.membershipId == currentUserMembershipId">
              {{user.bungieName}}
            </mat-chip>
          </mat-chip-list>

          <mat-toolbar color="warn" *ngIf="errorMessage != ''" class="error-bar">
            {{errorMessage}}
          </mat-toolbar>

        </mat-card-content>
      </mat-card>
    </div>
    <div class="infoBox" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%" >
      <mat-card>
        <mat-card-title>What to do?</mat-card-title>
        <mat-card-content>
          Head to <a href="https://www.bungie.net/7/en/codes/redeem" target="_blank">the code redemption page</a> and enter the codes that you are missing!<br>
          Have fun with it.<br>
          <br>
          Last Update: Jun 10, 2022
          <br>
          Greetings, Mijago
        </mat-card-content>
      </mat-card>
    </div>
  </div>


  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%" *ngFor="let code of Codes">
      <mat-card class="reward-card mat-elevation-z4"
                [class.state-unknown]="code.state == 0"
                [class.state-rewarded]="code.state == 1"
                [class.state-not-rewarded]="code.state == 2">
        <mat-card-header>
          <div mat-card-avatar class="card-icon"  style="  background-image: url('{{code.shortIconUrl}}');  "></div>
          <mat-card-title>
            {{code.name}}
          </mat-card-title>
          <mat-card-subtitle (cdkCopyToClipboardCopied)="copied(code.code)" [cdkCopyToClipboard]="code.code">
            {{code.code}}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-footer *ngIf="code.wideIconUrl">
          <img src="{{code.wideIconUrl}}" class="reward-imag-wide">
        </mat-card-footer>
      </mat-card>
    </div>
  </div>

</div>
