mat-toolbar {
  justify-content: space-between;
  background-color: #212121;
}

.content {
  padding: 16px;
}

.guardianSearch {
  margin-bottom: 16px;
}
.infoBox {
  margin-bottom: 16px;
}

.error-bar{
  height: 30px;
}

mat-chip.selected {
  background-color: darkgreen;
}

.reward-card.state-rewarded {
  color: #019801;
  opacity: 0.55;
}

.reward-card.state-not-rewarded {
  color: red;
  background-color: #543535;
}

.reward-card {
  margin-bottom: 16px;
  .reward-imag-wide {
    width: 100%;
  }
}

a  {
  color: #c72e6a;
}

.card-icon {
  background-size: cover;
  height: 40px;
  width: 40px;
  flex-shrink: 0;
  object-fit: cover;
  border-radius: 0;
}
