a {
  color: #c72e6a;
}

#progressbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

mat-toolbar {
  justify-content: space-between;
  background-color: #212121;
}

.user-chip-icon {
  width: 100%;
  height: 100%;
}

.content {
  padding: 16px;
}

.guardianSearch {
  margin-bottom: 16px;
}

.infoBox {
  margin-bottom: 16px;
}

.error-bar {
  height: 30px;
}

mat-chip.selected {
  background-color: darkgreen;
}

.clipboard-text {
  background-color: #212121;
  padding: 2px;
  cursor: pointer;
}
.clipboard-text-nopointer {
  font-family: monospace, monospace;
  background-color: #212121;
  padding: 2px;
}

.reward-card {
  margin-bottom: 16px;

  .reward-imag-wide {
    width: 100%;
  }

  a {
    color: white;
  }

}

.example-form-field {
  margin-right: 10px;
}

.reward-card.state-rewarded {
  color: #019801;
  opacity: 0.9;

  a {
    color: #019801;
  }
}

.reward-card.state-not-rewarded {
  color: red;
  border: red 3px solid;
  background-color: #543535;

  a {
    color: red;
  }
}


.card-icon {
  background-size: cover;
  height: 40px;
  width: 40px;
  flex-shrink: 0;
  object-fit: cover;
  border-radius: 0;
}
