<div id="progressbar">
  <mat-progress-bar mode="indeterminate" value="0" *ngIf="loading"></mat-progress-bar>
</div>


<mat-toolbar>
  Destiny 2 Reward Checker
  by Mijago
</mat-toolbar>


<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div class="guardianSearch" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">
      <mat-card>
        <mat-card-title>
          Guardian Search
        </mat-card-title>
        <mat-card-subtitle>
          You can search for a guardian here. The tool will then show which of the items are unlocked in the collection.
          Note that the API only sees an emblem as unlocked <b>after you logged in after redeeming it</b>.
        </mat-card-subtitle>
        <mat-card-content>
          <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Guardian Tag</mat-label>
            <input matInput type="text" placeholder="Guardian#1234" [formControl]="guardianSearchFormControl">
            <button *ngIf="guardianSearchFormControl.value != ''" matSuffix mat-icon-button aria-label="Clear"
                    (click)="guardianSearchFormControl.setValue('')">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <mat-checkbox
            (change)="guardianSearchFormControl.setValue(guardianSearchFormControl.value)"
            [(ngModel)]="filterCrossplay">
            Combine cross-play entries
          </mat-checkbox>
          <div *ngIf="usedFallback">
            There was an error in the API and we had to utilize the fallback logic. Please make sure to enter the full Bungie handle.
          </div>
          <mat-chip-list>
            <mat-chip *ngFor="let user of users" (click)="filterCollectibles(user.membershipType, user.membershipId)"
                      [class.selected]="user.membershipId == currentUserMembershipId">
              {{user.bungieName}}
              <mat-chip-trailing-icon>
                <img class="user-chip-icon" src="https://bungie.net//img/theme/bungienet/icons/steamLogo.png"
                     *ngIf="user.membershipType == 3">
                <img class="user-chip-icon" src="https://bungie.net//img/theme/bungienet/icons/xboxLiveLogo.png"
                     *ngIf="user.membershipType ==1">
                <img class="user-chip-icon" src="https://bungie.net//img/theme/bungienet/icons/psnLogo.png"
                     *ngIf="user.membershipType == 2">
                <img class="user-chip-icon" src="https://bungie.net//img/theme/destiny/icons/icon_stadia.png"
                     *ngIf="user.membershipType == 5">
              </mat-chip-trailing-icon>
            </mat-chip>
          </mat-chip-list>

          <mat-toolbar color="warn" *ngIf="errorMessage != ''" class="error-bar">
            {{errorMessage}}
          </mat-toolbar>

        </mat-card-content>
      </mat-card>
    </div>
    <div class="infoBox" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">
      <mat-card>
        <mat-card-title>What to do?</mat-card-title>
        <mat-card-content>
          <ol>
            <li><a mat-raised-button color="primary" href="https://www.bungie.net/7/en/codes/redeem" target="_blank">Open the Code Redemption page</a></li>
            <li>Login.</li>
            <li>Enter every code you want to redeem.</li>
            <li>Re-Log into Destiny 2. If it is currently open, just restart it.</li>
            <li>Head to <span class="clipboard-text-nopointer">Collection > Flair > Emblems > General</span> and grab your emblems!</li>
          </ol>
          Also check out:
          <a href="https://d2armorpicker.com" target="_blank">D2ArmorPicker</a> and
          <a href="https://mijago.github.io/Crayon/" target="_blank">Crayon</a>.
          If you like my work, feel free to support me <a href="https://ko-fi.com/mijago" target="_blank">with a ko-fi</a>.<br/>
          Greetings, Mijago

        </mat-card-content>
      </mat-card>
    </div>
  </div>


  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.md="33%" fxFlex.sm="50%"
         [fxFlex.xl]="(100/6)+'%'"
         *ngFor="let code of Codes">
      <mat-card class="reward-card mat-elevation-z4"
                [class.state-unknown]="code.state == 0"
                [class.state-rewarded]="code.state == 1"
                [class.state-not-rewarded]="code.state == 2">
        <mat-card-header>
          <div mat-card-avatar class="card-icon" style="  background-image: url('{{code.shortIconUrl}}');  "></div>
          <mat-card-title>
            <a href="https://destinyemblemcollector.com/emblem?id={{code.itemHash}}"
               target="_blank"
               title="Open '{{code.name}}' in destinyemblemcollector.com"
            >{{code.name}}</a>
          </mat-card-title>
          <mat-card-subtitle (cdkCopyToClipboardCopied)="copied(code.code)" [cdkCopyToClipboard]="code.code"
                             title="Click to copy this code to your clipboard.">
            <span class="clipboard-text">{{code.code}}</span>
            <span *ngIf="code.state == 1"> - acquired</span>
            <span *ngIf="code.state == 2"> - not acquired</span>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-footer *ngIf="code.wideIconUrl">
          <img src="{{code.wideIconUrl}}" class="reward-imag-wide">
        </mat-card-footer>
      </mat-card>
    </div>
  </div>

  <div>
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div fxFlex="25%" fxFlex.xs="100%" fxFlex.md="33%" fxFlex.sm="50%">
        <mat-card class="reward-card mat-elevation-z4">
          <mat-card-header>
            <mat-card-title>
              Copy-Paste unredeemed codes
            </mat-card-title>
            <mat-card-subtitle>
              This allows you to copy & paste all codes you did not yet redeem.
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div class="clipboard-text-nopointer">
              <ng-container *ngFor="let code of Codes"><ng-container *ngIf="code.state == 2">
                {{code.code}} - {{code.name}}<br>
              </ng-container></ng-container>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

</div>
